body{
    color: #293647;
    background-color: rgb(197, 225, 226);
    text-align: justify;
  }
  
  .bg-fej {
    background-position: center;
    height: 250px;
    padding-top: 10px;
  }

  .container{
    margin-bottom: 25px;
  }
  
  
  
  h3{
    margin: 25px 0px;
  }
  
  a {
    font-style: italic;
    font-weight: bold;
    color: darkblue;
  }
  h1{
    font-size: x-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: blueviolet;
}